.address-container {
    padding: 20px 40px;

    .progress {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;

        p {
            font-size: 22px;
            margin: 0 20px;

            span {
                margin: 0 10px;
            }
        }

        .bag,
        .address {
            color: blue;
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;


        .left {
            width: 60%;

            .select {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                background-color: #f0f0f0;
                padding: 20px;

                p {
                    font-size: 16px;
                }

                p:last-child {
                    padding: 7px 12px;
                    border: 1.2px solid black;
                    border-radius: 10px;
                    text-transform: uppercase;
                    cursor: pointer;
                }
            }

            .default_address {
                line-height: 2;

                .text {
                    p {
                        text-transform: uppercase;
                    }
                }

                .box {
                    margin: 10px 0;
                    padding: 20px;
                    border: 1px solid rgb(193, 193, 193);
                    border-radius: 5px;

                    .flex{
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                    }

                    p {
                        span {
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        .right {
            width: 30%;

            .delivery_estimates {
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: 10px 0;

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                }

                p{

                    span{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:120px) and (max-width:1023px) {

    .address-container {
        padding: 10px;

        .progress {
            gap: 1rem;

            p {
                font-size: 15px;
                margin: 0 5px;

                span {
                    margin: 0 5px;
                }
            }

        }

        .container {
            flex-direction: column;
            gap: 1rem;

            .left {
                width: 100%;

                .select {
                    padding: 10px;

                    p {
                        font-size: 12px;
                    }

                    p:last-child {
                        padding: 5px 10px;
                        border: 1px solid black;
                        border-radius: 7px;
                    }
                }

                .default_address{

                    .text {

                        p{
                            font-size: 14px;
                            margin: 10px 0 0 10px;
                        }
                    }

                    .box{
                        padding: 10px;

                        .flex{
                            gap: 0.5rem;
                        }

                        p{
                            font-size: 14px;
                        }
                    }
                }
            }

            .right {
                width: 100%;

                .delivery_estimates{

                    img{
                        width: 105px;
                        height: 150px;
                        object-fit: cover;
                    }

                    p{
                        font-size: 13px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}