.main-container {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;

    .navbar-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px;

        .logo {
            width: 150px;
            height: 60px;

            img {
                width: 100%;
                height: 100%;
            }

        }

        .lists {

            .nav-links {
                display: flex;
                align-items: center;
                gap: 40px;
                padding: 0;
                margin: 0;


                li {
                    font-size: 16px;
                    font-weight: 500;
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    a {
                        color: black;
                        padding: 5px 8px;
                        text-decoration: none;
                    }

                    a.active {
                        color: white;
                        background-color: blue;
                        border-radius: 5px;
                    }

                    .dropdown {
                        width: 150px;
                        display: block;
                        position: absolute;
                        padding: 5px;
                        border: 1px solid #a5a5a5;
                        border-radius: 5px;
                        top: 60px;
                        background-color: white;

                        li {
                            margin: 5px 0;
                            padding: 5px;
                        }

                        li:hover {
                            background-color: rgb(236, 236, 236);
                        }
                    }
                }

                i {
                    cursor: pointer;
                    font-size: 20px;
                }
            }
        }

        .three-icons {
            display: flex;
            align-items: center;
            gap: 20px;

            .search-bar {

                i {
                    font-size: 20px;
                    position: absolute;
                    margin-left: 5px;
                    top: 29px;
                    z-index: 1;
                    color: #989797;
                }

                input {
                    position: relative;
                    width: 325px;
                    font-size: 16px;
                    padding: 5px;
                    padding-left: 30px;
                    border: 1px solid rgb(169, 168, 168);
                    border-radius: 5px;
                }
            }

            .search-bar2{
                display: none;
            }

            a {
                text-decoration: none;
                color: black;

                i {
                    font-size: 25px;
                    color: rgb(62, 62, 62);
                }
            }

            i {
                font-size: 25px;
                color: rgb(62, 62, 62);
                cursor: pointer;
            }
        }

        .menu-bar {
            display: none;
        }
    }
}

@media only screen and (min-width:120px) and (max-width:1023px) {
    .main-container {
        .navbar-container {

            .menu-bar {
                display: block;
                cursor: pointer;

                i {
                    font-size: 26px;
                }
            }

            .lists {

                .nav-links {
                    position: absolute;
                    top: 60px;
                    left: -100%;
                    flex-direction: column;
                    align-items: flex-start;
                    border-radius: 0 10px 10px 0;
                    background-color: white;
                    border: 2px solid rgb(179, 179, 179);


                    li {
                        font-weight: 600;
                        margin: 10px;

                        a {
                            color: rgb(103, 68, 4);
                        }
                    }

                    li:hover {
                        background-color: rgb(227, 227, 227);
                    }

                }

                .nav-links.active {
                    left: 0;
                    padding: 5px;
                    display: block;
                }
            }

            .three-icons {
                gap: 10px;

                .search-bar {
                    display: none;
                }

                .search-bar2{
                    display: block;
                }
            }
        }
    }


}